/* .App {
  text-align: center;
} */


.main-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  font-family: 'Press Start 2P', cursive;
}

.main-title {
  /*   text-align: center; */
color:rgba(85, 188, 232, 0.647);
text-align: center;
font-size: 25px;

}

.table-container {
  border: 10px solid rgb(150, 255, 59);
  width: 90%;
  margin-bottom: 15px;
}

.score-container {
  border: 2px solid black;
  margin: 10px 6px;
}

.country-name {
  text-align: center;
}

.name-score-flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  width: 98%;
  /* Example width */
  margin: 4px auto;
}

.name {
  /* margin-right: auto; */
  margin-left: 10rem;
 
}

.score {
  margin-left: auto;
  padding-right: 10px;

}